<h1> Moja aplikacija </h1>

<div>
{% if image_list %}
    {% for image in image_list %}
        <div style="width: 30%; float: left;">
            <p>{{ image.name }} </p>
                <a href="{% url 'polls:detail' image.id %}"> 
                    
                    <img src= "{{ image.url }}"
                    style="width: 100%"/>
                </a>
                    <p>
                        Score: {{ image.votes }}
                    </p>
        </div>
    {% endfor %}
{% else %}
    <p>No images!</p>
{% endif %} 
</div>